// color
$cMain: #5DA68B;
$cSub: #807885;
$cAccent:#BF4953;
$cSubAccent:rgba(235,202,213,0.7);

$cBase:#F2F2F2;
$cText:#333333;
$cBorder:rgba(200,200,200,0.5);
$cShadow:rgba(138, 138, 138, 0.15);
$cWhite:white;
$cGreen1:#A3D9BA;
$cGreen2:#ACC59E;
$cGreen3:#EFF8F3;


// $cMain: #BF4953;
// $cSub: #807885;
// $cAccent:rgba(235,202,213,0.7);
// $cAccent:#ebcad5;
// $cBase:#F0F0F2;
// $cWhite:white;
// $cText:#333333;
// $cBorder:rgba(200,200,200,.5);

// size
$contentMaxWidth: 1140px;
$sideBarWidth: 314px


