/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
.top-blog {
    width: calc(647px - 2em);
    right: 359px;
}